{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<h1>Reset Your Password</h1>
<form method="POST" action="{{ url_for('reset_password', token=request.view_args['token']) }}">
    <input type="password" name="password" placeholder="New Password" required><br><br>
    <input type="password" name="confirm_password" placeholder="Confirm New Password" required><br><br>
    <button type="submit">Set New Password</button>
</form>
<p><a href="{{ url_for('login') }}">Back to Login</a></p>
{% endblock %}
